body {
    background-color: #F8F9F9;
}


#header {
    background-color: #0079BF;
    padding: 30px 0;

    margin-bottom: 3em;
}

#header h1 {
    color: white;
    font-size: 48px;
    text-align: center;

    margin-bottom: 10px;
}

#header h2 {
    color: white;
    font-size: 18px;
    text-align: center;
}



#boards {
    margin-left: auto;
    margin-right: auto;
    width: 67%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1em;
}

.board {
    background-color: #0079BF;
    position: relative;

    display: flex;
    justify-content: left;
    align-items: center;

    border-radius: 5px;

    width: 90%;
    height: 125px;

    padding-left: 5px;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.board:hover {
    background-color: #005B8F;
    cursor: pointer;
}

.board span.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.board span.close-btn:hover {
    color: #d67575;
}

/*
    New board element is initially hidden.
    It is displayed when the create board elem
      is clicked, and hidden again when the
      new board's name is entered, or the 'X'
      on the board's top right is clicked.
*/
#new-board {
    display: none;
    position: relative;
}

#new-board input {
    width: 60%;
    height: 30%;
    border-radius: 5px;
    border: 0px;
    background-color: #0079BF;
    color: white;
}

#create-board {
    background-color: gray;
    font-weight: normal;
}



#lists {
    display: none;
    flex-direction: column;
}

#lists-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 67%;
    margin: 0 auto 50px;
}

#lists-controls h1 {
    font-size: 24px;
}

button {
    background-color: #0079BF;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 50px;
    padding: 5px 10px;
    text-align: center;
}

button:hover {
    background-color: #005B8F;
    cursor: pointer;
}

#create-list {
    padding: 5px 50px;
}

#lists-lists {
    width: 67%;
    margin: 0 auto;
}

.list {
    border-radius: 5px;
    background-color: rgb(192, 192, 192);

    display: flex;
    flex-flow: column nowrap;

    width: 25%;
}

.list .list-header input {
    background-color: rgb(153, 153, 153);
    border-radius: 0px;
    border: 0px;
    box-sizing: border-box;
    color: white;
    height: 40px;
    padding: 5px 20px;
    width: 100%;
}

#new-list {
    display: none;
}
