header button.logout {
    background-color: rgba(120, 120, 120, 0.1);
    color: white;

    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);

    border: 0px;
    border-radius: 2px;
    padding: 10px 30px;

    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

header button.logout:hover {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

main {
    flex: 1 0 0;
    padding: 50px 0px 0px 100px;
}

.boards {
    display: flex;
    flex-flow: row wrap;

    overflow-y: auto;
}

.lists {
    white-space: nowrap;
    overflow-x: auto;
}

.board-like {
    background-color: var(--main-color);
    border-radius: 5px;

    color: white;

    display: flex;
    align-items: center;

    font-weight: bold;

    margin-right: 50px;
    margin-bottom: 50px;
    padding-left: 5px;
    position: relative;

    width: 200px;
    height: 100px;
}

.board-controls {
    font-size: 0.75em;

    position: absolute;
    top: 0px;
    right: -3px;
}

.board-controls span {
    background-color: #00000080;
    padding: 3px;
}

.board-controls span:hover {
    background-color: #000000;
}

.board-like:hover {
    background-color: rgb(0, 96, 151);
    cursor: pointer;
}

.create-board {
    background-color: rgb(184, 184, 184);
    border: 0px;
    color: #555555;
    font-weight: normal;
}

.create-board:hover {
    background-color: rgb(148, 148, 148);
    color: #222222;
}

.board-name-input {
    border: 0px;
    border-radius: 2px;

    background-color: var(--main-color);
    color: white;

    height: 30px;
    width: 95%;
}

.lists div:last-child {
    display: inline-block;
}

.list-like {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

    display: inline-block;
    vertical-align: top;

    position: relative;

    margin-right: 50px;
    max-height: 95%;
    overflow-y: auto;
    width: 240px;
}

.list .list-delete {
    position: absolute;
    top: 2px;
    right: 2px;

    color: white;
    font-size: 0.5em;
}

.list .list-delete:hover {
    color: black;
    cursor: pointer;

    transform: scale(2);
}

.list h1 {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 1.1em;

    margin-bottom: 10px;

    height: 40px;
    width: 100%;
}

.list ol {
    width: 100%;
}

.list ol li {
    background-color: linear-gradient(white, gray);
    border-radius: 5px;
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);

    color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 0.8em;

    margin: 0px auto 10px auto;
    padding-left: 10px;
    padding-right: 10px;

    height: 40px;
    width: 90%;
}

.list ol li.done {
    text-decoration: line-through;
}

.list ol li:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.list ol li .list-item-controls.hidden {
    opacity: 0;
}

.list ol li .list-item-controls span {
    padding: 5px 5px;
}

.list ol li .list-item-controls span:hover {
    background-color: gray;
}

.list .add-list-item {
    margin-bottom: 10px;
    text-align: center;
}

.list input {
    border: 0px;
    border-radius: 5px;

    padding-left: 10px;

    height: 35px;
    width: 90%;
}

#new-list-control-div {
    margin-right: 50px;
}

.create-list {
    border: 0px;
    border-radius: 5px;

    background-color: rgba(0, 0, 0, 0.1);
    color: white;

    height: 40px;
    width: 200px;
}

.create-list:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: gray;
    cursor: pointer;
}

#new-list-form {
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 10px 5px;

    width: 225px;
}

#new-list-form input {
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);

    padding: 5px;
    margin-bottom: 10px;

    height: 40px;
    width: 95%;
}

#new-list-form button {
    background-color: green;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

    color: white;

    height: 40px;
    width: 40%;
}

#new-list-form button:hover {
    background-color: darkgreen;
    cursor: pointer;
}
